<%- contentFor('head') %>
<link rel="stylesheet" href="/stylesheets/ng-admin.min.css">

<%- contentFor('body') %>
<div ui-view></div>
<script src="/javascripts/ng-admin.min.js" type="text/javascript"></script>
<script src="/javascripts/admin.js" type="text/javascript"></script>